*.la
*.lo
*~
.libs/
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/**/*.mdoc
/examples/sudo.conf
/libtool
/logsrvd/sudo_logsrvd
/logsrvd/sudo_sendlog
/pathnames.h
/plugins/sudoers/cvtsudoers
/plugins/sudoers/prologue
/plugins/sudoers/sudoers
/plugins/sudoers/sudoreplay
/plugins/sudoers/testsudoers
/plugins/sudoers/visudo
/src/sudo
/src/sudo_usage.h
Makefile
